$black: #171717;
$grey: #cccccc;
$gris: #1b1c20;
$dark-react: #292c33;
$purple-bootstrap: #563d7c;
$white: #ffffff;

$Poppins-font: "Poppins 10", sans-serif;

$font-thin: 200;
$font-medium: 500;
$font-bold: 700;

$font16: 16px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font32: 32px;

$sp1: 4px;
$sp2: 8px;
$sp3: 16px;
$sp4: 25px;
$sp5: 30px;
