@use "../abstracts/variables";

.skills {
  display: flex;
  &__item {
    display: flex;
    margin-right: 10px;
    align-items: center;

    & img {
      width: 50px;
      height: auto;
      object-fit: cover;
      margin-right: 8px;
    }
  }
}
